Source: libjs-twitter-bootstrap-2.1.1
Section: web
Priority: optional
Maintainer: Jonathan Carter <jonathan@ubuntu.com>
Build-Depends: debhelper (>= 9.0.0), libnode-less
Standards-Version: 3.9.3
Homepage: http://twitter.github.com/bootstrap

Package: libjs-twitter-bootstrap-2.1.1
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: javascript, css and html resources for bootstrapping a web
 project Bootstrap is a toolkit from Twitter designed to kickstart
 development of webapps and sites. It includes base CSS and HTML for
 typography, forms, buttons, tables, grids, navigation, and more.
 .
 Bootstrap is tested and supported in major modern browsers like
 Chrome, Safari, Internet Explorer, and Firefox.
